Package: fcc-unlock
Version: 1.0.2
Maintainer: D3VL LTD <jack@d3vl.com>
Description: Unlocks FCC 1200mw on the Goggles, Vistas and Air Units without the need for naco.txt/naco_pwr.txt
Architecture: pigeon-all
Homepage: https://github.com/d3vl/wtfos-auto-naco
Depends: wtfos-modloader
